<div class="sidebar_container_group_first">
    <div class="sidebar_first">
        <span class="sidebar_title">双临园艺</span>
        <span class="sidebar_group_more"><a href="#">更多</a></span>
    </div>
    <div class="sidebar_first_img">
        <a href="#"><img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3369110044,2185551535&fm=27&gp=0.jpg" alt="1"></a>
        <div class="img_title"><span class="img_title_span" >对话国际顶尖FinTech公司</span></div>
    </div>
    <div class="book_info">
        <ul>
            <li><a href="#">
                <span class="book_avtive">报名中</span>
                <span class="book_content">双临园艺7月13日杭州开课</span>
            </a></li>
            <li><a href="#">
                <span class="book_end">已结束</span>
                <span class="book_content">探访日本餐饮行业之密</span>
            </a></li>
        </ul>
    </div>
</div>
{#        在线课堂#}
<div class="sidebar_container_group_second">
    <div class="sidebar_second">
        <span class="sidebar_title">在线课堂</span>
        <span class="sidebar_group_more"><a href="#">更多</a></span>
    </div>
    <div class="sidebar_second_img">
        <a href="#"><img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=757800106,3151750407&fm=27&gp=0.jpg" alt="1"></a>
    </div>
</div>
<div class="sidebar_container_group_attention">
    <div class="sidebar_attention_left">
        <div class="sidebar_attention_title">关注双临园艺</div>
        <div class="zhihu icon-zhihu iconfont"><span class="title_size">双临园艺</span></div>
        <div class="tout icon-ziyuan iconfont"><span class="title_size">双临园艺</span></div>
        <div class="xinl icon-xinlang1 iconfont"><span class="title_size">双临园艺课堂</span></div>
    </div>
</div>
