.top-box{
    width: 400px;
    background-color: #FFFFFF;
    margin: 50px auto;
    padding: 0 20px;
    /*box-sizing: border-box;*/
}
.box .box-header{
    font-size: 20px;
    padding-top: 10px;
    /*padding-bottom: 2px;*/
    /*border-bottom: 1px solid #c9c9c9;*/
}
.box-body{
    margin-top: 40px;
}
.box .box-header .title{
    color: #999999;
}
.box-header i{
    color: #5b86db;
}
.box-header .index a{
    color: #5b86db;
}

.box-body .form-group{
    width:100%;
    margin-top:5px;
    overflow: hidden;
}
.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
    margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
    outline: none;
}
.form-group .sms_control{
    width: 280px;!important;
    float: left;
}
.sms_right{
    height: 100%;
    line-height: 48px;
    width: 100px;
    color: #5b86db;
    border: 1px solid #5b86db;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
    float: right;
    margin-top: 5px;
    cursor: pointer;
}
.sms_disabled{
    border: 1px solid #cccccc;
    color: #cccccc;
}
.box-footer .submit-btn{
    height: 50px;
    width: 100px;
    background-color:green;
    line-height: 50px;
    font-size: 16px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}
