.top-box{
    width: 400px;
    background-color: #FFFFFF;
    margin: 50px auto;
    padding: 0 20px;
    /*box-sizing: border-box;*/
}
.top-box .box-header{
    font-size: 20px;
    padding-top: 10px;
    /*padding-bottom: 2px;*/
    /*border-bottom: 1px solid #c9c9c9;*/
}
/*.box-body{*/
    /*margin-top: 40px;*/
/*}*/
.top-box .box-header .title{
    color: #999999;
}
.box-header i{
    color: #5b86db;
}
.box-header .index a{
    color: #5b86db;
}

.box-body .form-group{
    width:100%;
    margin-top:5px;
    overflow: hidden;
}
.form-welcome{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: red;
}
.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
    margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
    outline: none;
}
.box-footer{
overflow: hidden;
}
.box-footer .submit-btn{
    display: block;
    height: 50px;
    width: 100px;
    background-color:green;
    line-height: 50px;
    font-size: 16px;
    color: white;
    margin-top: 10px;
    float: right;!important;
    margin-bottom: 10px;
}