*,body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #F2F2F2!important;
}
a{
    text-decoration: none!important;
}
/********导航栏**********/
.header{
    height: 65px;
    width: 100%;
    background-color: #3a3a3a;
    font-size: 14px;

}
.nav{
    height: 65px;
    width: 1170px;
    margin: 0 auto;
    line-height: 65px;
}
.nav .logo_box{
    height: 49px;
    width: 145px;
    margin-left: 40px;
    background-image: url("https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2106587453,2536902457&fm=27&gp=0.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    float: left;
    margin-top: 8px;
}
.nav .nav-menu{
    margin-left:100px;
    float: left;
    overflow: hidden;
}
.nav ul li {
    float: left;
    margin-right: 40px;
    text-align: center;
    height: 65px;
    box-sizing: border-box;
}
.nav a{
    color: #FFFFFF;
}
.nav .auth_group{
    float: right;
    text-align: center;
    position: relative;
    margin-right: 40px;
}
.auth_group .user-icon{
    color: #FFFFFF;
}
.active{
    border-bottom:4px solid lightskyblue;
}
.auth_group:hover .user-more-box{
    display: block;
}
.user-more-box{
    display: none;
    background: #fff;
    width: 140px;
    position: absolute;
    box-shadow: 0 3px 4px #ccc;
    border-radius: 5px;
    top: 65px;
    left: 50%;
    margin-left: -70px;
    font-size: 14px;
    z-index: 1;
}
.user-more-box a{
    text-align: center;
    height: 40px;
    color:#6d85ac!important;
    display: block;
    line-height: 40px;
}
.user-more-box .triangle{
    border: solid transparent;
    border-width: 10px;
    border-bottom-color: #fff;
    display: block;
    width: 0;
    height: 0;
    margin-top: -20px;
    margin-left: 60px;
}

.main{
    width: 1170px;
    overflow: hidden;
    margin: 20px auto;

}
.main .main-container{
    float: left;
    width: 795px;
    /*background-color: #FFF;*/
}
.sidebar-container{
    z-index: 12;
    float: right;
    width: 355px;
    height: 1000px;
    background-color: white;
    overflow: hidden;
    /*border: 1px solid pink;*/
    /*background-color: #FFF;*/
}
/********导航栏**********/

/********页脚**********/
.footer{
    width: 100%;
    margin-top: 60px;
}
.footer .footer_1{
    width: 100%;
    height:110px ;
    background-color:#555e68;

}
.footer_1 .footer-logo{
    margin-left: 20px;
    height: 50px;
    width: 165px;
    background: url("https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2106587453,2536902457&fm=27&gp=0.jpg") no-repeat;
    background-size:contain;
    float: left;
    margin-top: 20px;
    overflow: hidden;
}
.footer_1 .footer_info{
    float: left;
    height: 100px;
    overflow: hidden;
    position: relative;
}
.footer_info .top_info{
    height: 45px;
    width: 100%;
    line-height: 45px;
    text-align: center;
    margin-top: 25px;
}
.footer_1 .footer_info .footer_links{
    height: 45px;
    width: 380px;
    margin-left: 85px;
    /*margin-top: 25px;*/
    float: left;
    overflow: hidden;
}
.footer_1 .footer_info .footer_links ul li{
    float: left;
    color: #c9c9c9;
}.footer_1 .footer_info .footer_links ul li a{
    color: #c9c9c9;
    margin:0 15px;
    font-size: 13px;
    text-align: center;
}
.top_info .attention{
    font-size: 13px;
    /*width: 305px;*/
    /*height: 45px;*/
    color: #C9C9C9;
    float: left;
    /*margin-top:20px;*/
    /*border: 1px solid red;*/
    /*line-height: 45px;*/
    /*position: relative;*/
}
.attention .weixin,.showxl{
    color:#C9C9C9;
    font-size: 15px;
    margin-left: 3px;
    cursor: pointer;
}
.attention .wx,.xl{
    font-size: 13px;
    /*margin-left: 5px;*/
    color:#C9C9C9;
}
.attention .showxl{
    margin-left: 10px;
}
.footer_info .bottom_info{
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 100px;
    text-align: center;
}
.bottom_info .company_info{
    float: left;
}
.bottom_info .adress,.phonenum{
    font-size: 13px;
    line-height: 50px;
    color:#C9C9C9;
    /*text-align: center;*/
}
.bottom_info .phonenum{
    margin-left: 30px;
}
.footer .footer_2{
    width: 100%;
    height: 70px;
    background-color: #383e44;
    line-height: 70px;
    text-align: center;
}
.footer_2 .in_pc{
    color: #c9c9c9;
}
/********页脚**********/