{% extends 'base/front_base.html' %}
{% block title %}
找回密码
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/auth/forgetpassword.css' %}">
    <script src="{% static 'js/forget_password_index.js' %}"></script>
{% endblock %}
{% block content %}
<div class="box top-box">
    <div class="box-header">
        <div class="form-group">
            <i class="icon-xingzhuang24kaobei2 iconfont"></i>
            <span class="index"><a href="{% url 'news:index' %}">首页</a></span>
            /<span class="title">找回密码</span>
        </div>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="box-body">
            <div class="form-group">
                <label for="telephone-input">手机号码:</label><br>
                <input type="text" class="form-control" id="telephone-input" name="telephone" placeholder="请输入验证的手机号码">
            </div>
            <div class="form-group">
                <input type="text" name="sms_captcha" placeholder="请输入短信验证码" class="form-control sms_control">
                <span class="sms_right">发送验证码</span>
            </div>
        </div>
        <div class="box-footer">
            <button class="submit-btn">重置密码</button>
        </div>
    </form>
</div>
{% endblock %}
