{% extends 'base/front_base.html' %}

{% block title %}
修改密码
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/auth/modifypassword.css' %}">
    <script src="{% static 'js/modifypassword.js'%}"></script>
{% endblock %}

{% block content %}
    <div class="top-box">
        <div class="box-header">
            <div class="form-group">
                <i class="icon-xingzhuang24kaobei2 iconfont"></i>
                <span class="index"><a href="{% url 'news:index' %}">首页</a></span>
                /<span class="title">找回密码</span>
            </div>
        </div>
        <div class="form-welcome">
            欢迎您，{{ user.telephone }}
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="box-body">
                <div class="form-group">
                    <label for="password-input">请输入新密码:</label><br>
                    <input type="text" class="form-control" id="password-input" name="password" placeholder="请输入8至20位的新密码">
                </div>
                <div class="form-group">
                    <label for="repeat_password-input">请再次输入密码:</label><br>
                    <input type="text" class="form-control" id="repeat_password-input" name="repeat_password" placeholder="请再次输入密码">
                </div>
            </div>
            <div class="box-footer">
                <button class="submit-btn" data-id="{{ user.pk }}">确认修改</button>
            </div>
        </form>
    </div>
{% endblock %}
